.appointment-details {
    padding: 20px;
    max-width: 80%;
    width: 50%;
    margin: 0 auto;
    margin-top: 150px;

    .confirm-examination,
    .patient-information {
        background-color: #f8f8f8;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        .headerconfirm {
            background-color: #05CCF8;
            color: white;
            padding: 10px 25px;
            border-radius: 5px 5px 0 0;
            font-weight: bold;

        }
    }

    .confirm-examination {
        table {
            width: 100%;
            border-collapse: collapse;
            border-bottom: 1px solid black;

            th,
            td {
                padding: 20px;
                text-align: left;
            }

            th {
                background-color: #FFFFFF;
                border-bottom: 1px solid black;


            }

            td {
                background-color: white;
                margin-bottom: 20px;
            }
        }
    }

    .patient-information {
        .info {
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            p {
                margin: 5px 15px;
                flex: 1 1 45%;
            }

            strong {
                color: #333;
            }
        }
    }

    .confirm-button {
        background-color: #05CCF8;
        border: none;
        border-radius: 10px;
        color: white;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        display: block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;

    }

    .confirm-button:hover {
        background-color: #007bff;
    }
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.title {
    color: #05CCF8;
    padding: 0 60px 0 60px;

}

.content {
    padding: 0 60px 0 60px;
}

.popup-content {
    background-color: white;
    border-radius: 8px;
    width: 500px;
    padding: 20px;
    text-align: center;
    position: relative;
}

.popup-header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup-close {
    cursor: pointer;
    font-size: 24px;
}

.popup-icon img {
    width: 100px;
    height: 100px;
}

.popup-message {
    margin-top: 20px;
}

.view-appointment-button {
    background-color: #1e90ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
    width: 350px;
    height: 50px;
    font-size: 15px;
    margin-bottom: 40px;
}

.view-appointment-button:hover {
    background-color: #007bff;
}

.back-confirm {
    background-color: #05CCF8;
    color: white;
    border: none;
    width: 90px;
    height: 30px;
    padding: 6px 15px 15px 15px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;

    &:hover {
        background-color: #29566F;
    }
}