.doctor-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-right: 250px;
    padding-left: 250px;
    margin-top: 150px;
}

.doctor-card {
    background-color: #FFFFFF;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 30px 30px 10px 30px;
    margin: 15px;
    text-align: left;
    width: calc((100% / 3) - 40px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;

    &__info {
        input[type=radio] {
            display: none;
        }

        .star {
            cursor: pointer;
        }

        p {
            color: #737373;
        }

        .doctor-name {
            font-weight: bold;
        }
    }

    &__action {
        display: flex;
        margin-top: 16px;

        .doctor-card__image {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 40px;
            margin-top: 10px;
            border: 1px solid #BDBDBD;
        }

        .btn {
            padding: 8px 16px;
            border: none;
            background-color: #05CCF8;
            color: #fff;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 200ms;
            font-size: 15px;
            width: 120px;
            height: 50px;
            margin-top: 10px;
            margin-left: 40px;

            &:hover {
                background-color: #007bff;
            }
        }
    }
    
}
.back-doctor {
    background-color: #05CCF8;
    color: white;
    border: none;
    width: 90px;
    height: 30px;
    padding: 6px 15px 15px 15px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 200;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-left: 500px;

    &:hover {
        background-color: #29566F;
    }
}
