.find-doctor {
    background-color: #FAFAFA;
    max-width: 60%;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 1px;
    border-radius: 10px;
    padding: 20px;
}

.find-doctor h2 {
    font-size: 24px;
    color: #000000;

}

.find-doctor form {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

.find-doctor input {
    padding: 15px;
    border: 1px solid #05CCF8;
    border-radius: 5px;
    font-size: 18px;
}

.find-doctor button {
    padding: 10px 40px;
    background-color: #05CCF8;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px;
    margin-left: 90px;

}

.find-doctor button:hover {
    background-color: #4092a5;

}

.checkbox {
    padding-left: 80px;
    padding-top: 15px;
    display: flex;
    gap: 25px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 21px;
    border: 1px solid #05CCF8;
    border-radius: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 2px;
    top: 1px;
    background-color: #05CCF8;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #FFFFFF;

}

input:focus+.slider {
    box-shadow: 0 0 1px #05CCF8;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;

}

.slider.round:before {
    border-radius: 50%;

}