.services {
    padding: 20px;
    margin-top: 60px;
    margin-bottom: 400px;
    h2 {
        font-size: 36px;
        color: #05CCF8;
        margin-bottom: 20px;
        text-align: center;
    }

    p {
        font-size: 17px;
        color: #777;
        margin-bottom: 2rem;
        text-align: center;
    }

    .services-cards {
        display: flex;
        justify-content: center;
        gap: 20px;


        .card {
            background-color: #f9f9f9;
            border-radius: 15px;
            padding: 18px;
            text-align: left;
            max-width: 18%;
            height: 415px;

            img {
                width: 100%;
                border-radius: 10px;
                margin-bottom: 15px;
            }

            h3 {
                font-size: 25px;
                color: #05CCF8;
                margin-bottom: 15px;
            }

            p {
                font-size: 16px;
                color: #777;
                margin-bottom: 16px;
                text-align: left;
            }

            a {
                color: #05CCF8;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}